apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: ghost
  namespace: ghost
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`zmartin.me`) && (PathPrefix(`/`) || PathPrefix(`/ghost`))
      kind: Rule
      services:
        - name: ghost
          port: 80
      middlewares:
        - name: no-redirect
          namespace: ghost

