apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: ghost
  namespace: ghost
spec:
  entryPoints:
    - web  # This matches the 'web' port (80) in your Traefik service
  routes:
    - match: Host(`zmartin.me`)
      kind: Rule
      services:
        - name: ghost
          port: 80
          namespace: ghost