apiVersion: apps/v1
kind: Deployment
metadata:
  name: vaultwarden
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vaultwarden
  template:
    metadata:
      labels:
        app: vaultwarden
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

      initContainers:
        - name: wait-for-data
          image: busybox
          command:
            - sh
            - -c
            - |
              echo "Waiting for /data to be writable..."
              until touch /data/.init-test 2>/dev/null; do
                sleep 1
              done
              rm -f /data/.init-test
              echo "/data is ready"
          volumeMounts:
            - name: data
              mountPath: /data

      containers:
        - name: vaultwarden
          image: vaultwarden/server:latest
          ports:
            - containerPort: 80
          env:
            - name: DOMAIN
              value: "https://vaultwarden.zmartin.me"
            - name: SIGNUPS_ALLOWED
              value: "false"
            - name: WEBSOCKET_ENABLED
              value: "true"
            - name: DATABASE_URL
              value: "sqlite:///data/db.sqlite3"
          volumeMounts:
            - name: data
              mountPath: /data

      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: vaultwarden-data
