apiVersion: apps/v1
kind: Deployment
metadata:
  name: vaultwarden
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vaultwarden
  template:
    metadata:
      labels:
        app: vaultwarden
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
      containers:
        - name: vaultwarden
          image: vaultwarden/server:latest
          lifecycle:
            postStart:
              exec:
                command: ["sh", "-c", "sleep 3"]
          ports:
            - containerPort: 80
          env:
            - name: DOMAIN
              value: "https://vaultwarden.zmartin.me"
            - name: SIGNUPS_ALLOWED
              value: "false"
            - name: WEBSOCKET_ENABLED
              value: "true"
            - name: DATABASE_URL
              value: "sqlite:///data/db.sqlite3"
          volumeMounts:
            - name: data
              mountPath: /data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: vaultwarden-data
