apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring

resources:
  - namespace.yaml

  # Prometheus
  - prometheus-configmap.yaml
  - prometheus-deployment.yaml
  - prometheus-service.yaml
  - prometheus-ingress.yaml
  - prometheus-pvc.yaml

  # Loki
  - loki-configmap.yaml
  - loki-statefulset.yaml
  - loki-service.yaml
  - loki-ingress.yaml

  # Grafana
  - grafana-config-datasources.yaml
  - grafana-deployment.yaml
  - grafana-service.yaml
  - grafana-ingress.yaml
  - grafana-pvc.yaml

configMapGenerator:
  - name: grafana-dashboards
    namespace: monitoring
    files:
      - dashboards/traefik.json
      - dashboards/website.json
      - dashboards/postgres.json
      - dashboards/node-exporter.json
      - dashboards/k8s.json
      - dashboards/coredns.json

generatorOptions:
  disableNameSuffixHash: true
