apiVersion: v1
kind: Service
metadata:
  name: technitium-dns
  namespace: dns
spec:
  type: LoadBalancer
  selector:
    app: technitium-dns
  ports:
    - name: dns-udp
      port: 53
      targetPort: 53
      protocol: UDP
    - name: dns-tcp
      port: 53
      targetPort: 53
      protocol: TCP
    - name: http
      port: 5380
      targetPort: 5380
      protocol: TCP


    
