apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared-config
  namespace: cloudflare
data:
  config.yaml: |
    tunnel: ${TUNNEL_ID}
    credentials-file: /etc/cloudflared/tunnel.json

    ingress:
      - hostname: zmartin.me
        service: http://traefik.traefik.svc.cluster.local:80  # Changed namespace from kube-system to traefik
        
      - service: http_status:404