apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared-config
  namespace: cloudflare
data:
  config.yaml: |
    tunnel: ${TUNNEL_ID}
    credentials-file: /etc/cloudflared/tunnel.json

    ingress:
      - hostname: zmartin.me
        service: http://ghost.ghost.svc.cluster.local:80

      - service: http_status:404
