apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cloudflare

resources:
  - cloudflared-token-sealed.yaml
  - config.yaml
  - deployment.yaml
  - service.yaml
  - namespace.yaml