image:
  repository: codeberg.org/forgejo/forgejo
  tag: 15.0.3

postgresql:
  enabled: false

persistence:
  enabled: true
  size: 10Gi
  storageClass: longhorn

service:
  http:
    type: ClusterIP
    port: 3000

gitea:
  admin:
    existingSecret: forgejo-admin

  env:
    - name: GITEA__database__PASSWD
      valueFrom:
        secretKeyRef:
          name: forgejo-db
          key: password

  config:
    server:
      ROOT_URL: https://git.zmartin.me/
      DOMAIN: git.zmartin.me
      SSH_DOMAIN: git.zmartin.me

    database:
      DB_TYPE: postgres
      HOST: postgres.postgres.svc.cluster.local
      PORT: 5432
      NAME: forgejo
      USER: appuser
      SSL_MODE: disable

    service:
      DISABLE_REGISTRATION: true

    security:
      INSTALL_LOCK: true
